@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
div#main-container {
  min-width: 280px;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
div#main-container main#main-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
div#main-container main#main-links a.main-link {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}
div#main-container main#main-links a.main-link span {
  padding: 0.5rem;
  font-size: 3rem;
}
div#main-container main#main-links section.hero-section {
  min-height: 70vh;
}
div#main-container main#main-links section.hero-section a.main-link {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}
div#main-container main#main-links section.hero-section a.main-link span {
  padding: 0.5rem;
  font-size: 3rem;
}
div#main-container main#main-links section {
  width: 100%;
  margin: 1px auto 2rem;
  padding: 1rem;
}
div#main-container main#main-links section#about-me :not(span) {
  font-size: 0.85rem;
  text-align: center;
}
div#main-container main#main-links section#about-me strong, div#main-container main#main-links section#about-me em {
  display: block;
  padding: 0.2rem;
  font-style: normal;
  font-weight: 600;
}
div#main-container main#main-links section#about-me strong {
  display: block;
  border-radius: 10px;
  box-shadow: rgb(30, 26, 26) 0px 0px 1rem;
  padding: 3rem;
  max-width: 400px;
  margin: 4rem auto;
}
div#main-container main#main-links section#about-me em {
  text-shadow: red 0px 0.15px;
  margin: 1rem;
}
div#main-container main#main-links section#about-me span.waving-hand {
  display: inline-block;
  animation: wave 3s;
}
div#main-container main#main-links section#about-me p {
  text-align: center;
  font-weight: 100;
}
div#main-container main#main-links section#about-me p:nth-of-type(3) {
  line-height: 1.4rem;
  font-weight: 300;
  text-shadow: red 0px 0.05px;
  margin-bottom: 4rem;
}
div#main-container main#main-links section#about-me article#certification-links {
  margin: 5rem auto 1rem;
  display: flex;
  flex-direction: column;
}
div#main-container main#main-links section#about-me article#certification-links p {
  font-size: 50%;
}
div#main-container main#main-links section#about-me article#certification-links a {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
}
div#main-container main#main-links section#about-me article#certification-links a img {
  width: 1rem;
  height: 1rem;
}
div#main-container main#main-links section#portfolio {
  margin: 1px auto 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
div#main-container main#main-links section#portfolio a {
  display: block;
  padding: 1rem;
  margin-bottom: -0.25rem;
}
div#main-container main#main-links section#portfolio a figure {
  padding-bottom: 1rem;
}
div#main-container main#main-links section#portfolio a figure img {
  width: 200px;
  height: 100px;
  padding: 1rem;
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  border-radius: 10px;
}
div#main-container main#main-links section#portfolio a figure figcaption {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  text-align: left;
  font-size: 0.6rem;
  font-weight: 300;
  background-color: white;
  text-shadow: red 0px 0.05px;
  border-bottom: solid rgb(30, 26, 26) 1px;
  border-radius: 0.5rem;
}
div#main-container main#main-links section#portfolio a figure figcaption:hover {
  transform: scale(1.5);
  padding: 0.5rem;
  background-color: rgb(30, 26, 26);
  border-radius: 0.5rem;
  font-size: 0.5rem;
  color: white;
}
@media screen and (min-width: 576px) {
  div#main-container main#main-links section#portfolio div {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    gap: 2%;
    box-sizing: border-box;
  }
  div#main-container main#main-links section#portfolio div > a {
    width: 45%;
  }
}
div#main-container main#main-links section#code-examples {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 116, 49);
  position: relative;
  margin-bottom: 6rem;
}
div#main-container main#main-links section#code-examples *:not(span) {
  width: 200px;
  margin: auto;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector * {
  color: white;
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0.3rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag {
  display: inline-block;
  width: 3rem;
  text-align: center;
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  border-radius: 0.2rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag:hover {
  background-color: rgb(30, 26, 26);
}
div#main-container main#main-links section#code-examples div#coming-soon-playlist-container img, div#main-container main#main-links section#code-examples div#coming-soon-playlist-container audio {
  display: block;
}
div#main-container main#main-links section#code-examples div#coming-soon-playlist-container img {
  margin: 1rem auto;
}
div#main-container main#main-links section#code-examples div#coming-soon-playlist-container audio {
  height: 1rem;
}
div#main-container main#main-links section#code-examples div#coming-soon-playlist-container span.construction-cone {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem;
  background-color: black;
}
@media screen and (min-width: 576px) {
  div#main-container main#main-links section#code-examples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    box-sizing: border-box;
    padding: 2rem auto;
    padding: 1rem;
  }
  div#main-container main#main-links section#code-examples > div {
    width: 45%;
  }
  div#main-container main#main-links section#code-examples > div p {
    width: 80%;
  }
}
div#main-container main#main-links section#scion-coalition-scheme {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
div#main-container main#main-links section#scion-coalition-scheme a.main-link {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  margin-bottom: -1rem;
}
div#main-container main#main-links section#scion-coalition-scheme a.main-link span {
  padding: 0.5rem;
  font-size: 3rem;
}
div#main-container main#main-links section#scion-coalition-scheme article {
  margin: 1rem;
  text-align: justify;
  padding: 0.5rem;
  font-font-weight: 300;
  font-size: 0.8rem;
}
div#main-container main#main-links section#scion-coalition-scheme article p:first-letter {
  font-family: "Madimi One", sans-serif;
  font-size: 200%;
  padding: 0;
  height: 5rem;
}
div#main-container main#main-links section#scion-coalition-scheme article footer {
  padding: 1rem 0;
}
div#main-container main#main-links section#scion-coalition-scheme article footer a {
  padding: 0.5rem;
  display: inline-flex;
  gap: 1rem;
  border: solid 0.1px rgb(30, 26, 26);
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  font-weight: 700;
}
div#main-container main#main-links section#scion-coalition-scheme article footer a span {
  flex-grow: 1;
}
div#main-container main#main-links section#scion-coalition-scheme article footer a img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
div#main-container footer a.main-link {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  margin-bottom: -1rem;
}
div#main-container footer a.main-link span {
  padding: 0.5rem;
  font-size: 3rem;
}
div#main-container footer section#enquiry-form {
  margin: 3rem 0;
}
div#main-container footer section#enquiry-form form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
div#main-container footer section#enquiry-form form textarea {
  max-width: 280px;
  color: black;
}
div#main-container footer section#enquiry-form form button {
  padding: 0.25rem;
  background-color: green;
  color: white;
  border-radius: 3px;
  font-variant: small-caps;
  font-weight: 700;
}
div#main-container footer section#enquiry-form form button:hover {
  background-color: #009f00;
}
div#main-container section#media-links {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-shrink: 0;
}
div#main-container section#media-links div.sm-icons-container {
  display: flex;
  min-width: 160px;
  margin: auto;
}
div#main-container section#media-links div.sm-icons-container a {
  display: block;
  text-align: center;
  width: 25%;
}
div#main-container section#media-links div.sm-icons-container a img {
  width: 1rem;
  height: 1rem;
}

@keyframes wave {
  0% {
    transform: rotate(100deg);
  }
  10% {
    transform: scale(2);
  }
  30% {
    transform: rotate(60deg);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  text-decoration: none;
  color: rgb(51, 54, 69);
}

body {
  width: 100%;
  background-color: #fbfcfa;
  padding: 1rem 0;
  font-family: "Spline Sans Mono", monospace;
  font-font-optical-sizing: auto;
  font-font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.25px;
}

/*# sourceMappingURL=index.css.map */
