@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
header section#banner {
  position: relative;
  width: 100%;
  background-image: url("../../assets/images/Training 11.jpg");
}
@media screen and (max-width: 400px) {
  header section#banner {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
header section#banner * {
  color: white;
  text-shadow: rgb(229, 54, 54) 1px 1px 2px;
  font-size: 0.85rem;
}
header section#banner :not(big, span, em) {
  padding: 1rem;
}
header section#banner big {
  font-size: 2rem;
}
header section#banner strong, header section#banner em {
  display: block;
  font-style: normal;
  font-weight: 600;
}
header section#banner em {
  text-shadow: red 0px 0.15px;
  margin: 1rem 0;
}
header section#banner p {
  text-align: right;
  font-weight: 400;
  text-shadow: black 1px 1px 5px;
}
header section#banner div#see-my-portfolio {
  width: 70%;
  margin-top: 3rem auto;
  text-align: center;
  padding-top: 7rem;
}
header section#banner div#see-my-portfolio span:nth-of-type(1) {
  margin-right: 1rem;
}
header section#banner div#see-my-portfolio a {
  display: block;
  height: 12.5rem;
}
header section#banner div#see-my-portfolio a span.icon-arrow-down {
  display: block;
  margin-top: 2rem;
  color: rgb(115, 4, 4);
  font-size: 7.5rem;
  text-shadow: black 1px 1px 5px;
}
header section#banner div#see-my-portfolio a span.icon-arrow-down:hover {
  color: lightgray;
  animation-name: arrow-scale-up;
  animation-duration: 2s;
}
@media screen and (min-width: 400px) {
  header section#banner div#see-my-portfolio span:nth-of-type(1) {
    margin-right: 6rem;
  }
  header section#banner div#see-my-portfolio span.icon-arrow-down {
    display: inline-block;
    margin-top: 1rem;
    color: rgb(115, 4, 4);
    font-size: 7.5rem;
    text-shadow: black 1px 1px 5px;
  }
  header section#banner div#see-my-portfolio span.icon-arrow-down:hover {
    color: lightgray;
  }
}
@media screen and (min-width: 768px) {
  header section#banner div#see-my-portfolio {
    float: left;
    margin-left: 2.5%;
  }
  header section#banner div#see-my-portfolio span {
    font-size: 1.5rem;
    font-variant: small-caps;
    font-weight: 900;
    text-shadow: black 1px 1px;
  }
  header section#banner div#see-my-portfolio span.icon-arrow-down {
    font-size: 10rem;
  }
}
@media screen and (min-width: 850px) {
  header section#banner div#see-my-portfolio {
    margin-left: 15%;
  }
}
@media screen and (min-width: 1200px) {
  header section#banner div#see-my-portfolio {
    margin-left: 20%;
  }
  header section#banner div#see-my-portfolio span {
    font-size: 2.5rem;
    font-variant: normal;
  }
  header section#banner div#see-my-portfolio span.icon-arrow-down {
    font-size: 12rem;
    color: rgb(115, 4, 4);
  }
}

div#main-container {
  min-width: 280px;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
div#main-container nav {
  display: none;
}
@media screen and (min-width: 768px) {
  div#main-container nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  div#main-container nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    z-index: 5;
    padding-left: 0.3rem;
  }
  div#main-container nav ul li:first-child {
    padding-top: 0.5rem;
  }
  div#main-container nav ul li:not(:first-child) {
    padding-top: 2rem;
  }
  div#main-container nav ul li a {
    color: rgb(51, 54, 69);
    font-size: 75%;
    font-weight: 500;
  }
  div#main-container nav ul li a.menu {
    font-variant: small-caps;
    font-size: large;
    color: black;
    text-decoration: underline;
  }
  div#main-container nav ul li a:not(.menu):hover {
    color: black;
    text-shadow: black 1px 1px 5px;
    font-size: 90%;
  }
  div#main-container nav ul li:not(:first-child) {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1020px) {
  div#main-container nav ul {
    width: 130px;
    height: 100vh;
    box-shadow: inset #554949 0px 0px 2.5rem;
  }
}
div#main-container main#main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
div#main-container main#main-content h2 {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}
div#main-container main#main-content section.hero-section {
  min-height: 70vh;
}
div#main-container main#main-content section.hero-section h2 {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}
div#main-container main#main-content section {
  width: 100%;
  margin: 1px auto 2rem;
  padding: 1rem;
}
div#main-container main#main-content section#about-me {
  padding-left: 2rem;
}
div#main-container main#main-content section#about-me article.about-me * {
  text-align: center;
}
div#main-container main#main-content section#about-me article.about-me strong {
  display: block;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 100%;
}
div#main-container main#main-content section#about-me article.about-me span.waving-hand {
  display: inline-block;
  animation: wave 3s;
}
div#main-container main#main-content section#about-me article.about-me p {
  font-size: 0.8rem;
  text-align: justify;
}
@media screen and (min-width: 922px) {
  div#main-container main#main-content section#about-me article.about-me p {
    text-align: center;
  }
}
div#main-container main#main-content section#about-me article.about-me big {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}
div#main-container main#main-content section#about-me article.about-me footer {
  margin: 2rem;
  padding: 0.5rem;
}
div#main-container main#main-content section#about-me article.about-me footer small {
  font-size: 0.6rem;
}
div#main-container main#main-content section#about-me article#certification-links {
  margin: 5rem auto 1rem;
  display: flex;
  flex-direction: column;
}
div#main-container main#main-content section#about-me article#certification-links p {
  font-size: 50%;
}
div#main-container main#main-content section#about-me article#certification-links a {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
}
div#main-container main#main-content section#about-me article#certification-links a img {
  width: 1rem;
  height: 1rem;
}
div#main-container main#main-content section#portfolio {
  margin: 1px auto 4rem;
}
div#main-container main#main-content section#portfolio p, div#main-container main#main-content section#portfolio dt, div#main-container main#main-content section#portfolio dl {
  padding-left: 1.5rem;
  font-size: 0.8rem;
}
div#main-container main#main-content section#portfolio dl dt {
  padding: 0.5rem 0;
  font-weight: 900;
}
div#main-container main#main-content section#portfolio dl p {
  border-left: double 1rem rgb(134, 122, 122);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 1rem 0;
  padding-left: 1rem;
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a {
  display: block;
  padding: 1rem;
  margin-bottom: -0.25rem;
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a figure {
  padding-bottom: 1rem;
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a figure img {
  width: 90%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  padding: 1rem;
  box-shadow: inset rgb(210, 198, 198) 0px 0px 1rem;
  border-radius: 10px;
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a figure img:hover {
  transform: scale(1.01);
}
div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a figure figcaption {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  text-align: left;
  font-size: 0.6rem;
  font-weight: 300;
  background-color: white;
  text-shadow: red 0px 0.05px;
}
@media screen and (min-width: 1200px) {
  div#main-container main#main-content section#portfolio div#portfolio-list-of-projects a figure figcaption:hover {
    transform: scale(1.2);
    background-color: rgb(30, 26, 26);
    border-radius: 0.5rem;
    color: white;
  }
}
@media screen and (min-width: 576px) {
  div#main-container main#main-content section#portfolio div#portfolio-list-of-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    box-sizing: border-box;
  }
  div#main-container main#main-content section#portfolio div#portfolio-list-of-projects > a {
    width: 50%;
  }
}
@media screen and (min-width: 922px) {
  div#main-container main#main-content section#portfolio div#portfolio-list-of-projects > a {
    width: 30%;
  }
}
div#main-container main#main-content section#code-examples {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 116, 49);
  position: relative;
  margin-bottom: 6rem;
  z-index: 0;
}
div#main-container main#main-content section#code-examples *:not(span) {
  width: 200px;
}
div#main-container main#main-content section#code-examples div#problem-solution-selector * {
  color: white;
  font-size: 0.6rem;
  font-weight: 400;
}
div#main-container main#main-content section#code-examples div#problem-solution-selector p {
  padding: 1.5rem 0;
  font-size: 0.75rem;
  text-align: justify;
}
div#main-container main#main-content section#code-examples div#problem-solution-selector div#solutions-tags-container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
div#main-container main#main-content section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag {
  display: inline-block;
  width: 4rem;
  padding: 0.25rem;
  text-align: center;
  background-color: rgb(210, 198, 198);
  box-shadow: inset #554949 0px 0px 0.1rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: 700;
}
div#main-container main#main-content section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag:hover {
  background-color: rgb(30, 26, 26);
  color: white;
}
div#main-container main#main-content section#code-examples div#coming-soon-playlist-container img, div#main-container main#main-content section#code-examples div#coming-soon-playlist-container audio {
  display: block;
}
div#main-container main#main-content section#code-examples div#coming-soon-playlist-container img {
  margin: 1rem auto;
}
div#main-container main#main-content section#code-examples div#coming-soon-playlist-container audio {
  height: 1rem;
}
div#main-container main#main-content section#code-examples div#coming-soon-playlist-container span.construction-cone {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem;
  background-color: black;
}
@media screen and (min-width: 768px) {
  div#main-container main#main-content section#code-examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    align-items: center;
  }
}
div#main-container main#main-content section#scion-coalition-scheme {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
div#main-container main#main-content section#scion-coalition-scheme h2 {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: -1rem;
}
div#main-container main#main-content section#scion-coalition-scheme article {
  margin: 1rem;
  text-align: justify;
  padding: 0.5rem;
  font-font-weight: 300;
  font-size: 0.8rem;
}
div#main-container main#main-content section#scion-coalition-scheme article p:first-letter {
  font-family: "Madimi One", sans-serif;
  font-size: 200%;
  padding: 0;
  height: 5rem;
}
div#main-container main#main-content section#scion-coalition-scheme article footer {
  padding: 1rem 0;
}
div#main-container main#main-content section#scion-coalition-scheme article footer a {
  padding: 0.5rem;
  display: inline-flex;
  gap: 1rem;
  box-shadow: inset rgb(210, 198, 198) 0px 0px 3rem;
  font-weight: 700;
}
div#main-container main#main-content section#scion-coalition-scheme article footer a:hover {
  box-shadow: inset rgb(72, 67, 67) 0px 0px 1.5rem;
}
div#main-container main#main-content section#scion-coalition-scheme article footer a span {
  flex-grow: 1;
}
div#main-container main#main-content section#scion-coalition-scheme article footer a img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
div#main-container footer#main-footer h2 {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: -1rem;
}
div#main-container footer#main-footer section#enquiry-form {
  margin: 3rem 0;
}
div#main-container footer#main-footer section#enquiry-form form {
  width: 290px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
div#main-container footer#main-footer section#enquiry-form form div {
  width: 100%;
  padding: 0;
}
div#main-container footer#main-footer section#enquiry-form form div.contact-info-detail {
  padding: 0;
  display: flex;
  box-sizing: border-box;
}
div#main-container footer#main-footer section#enquiry-form form div.contact-info-detail label {
  width: 35%;
  padding: 0.2rem;
  color: #5e6480;
  align-self: center;
  font-size: 80%;
  font-weight: 500;
}
div#main-container footer#main-footer section#enquiry-form form div.contact-info-detail input {
  flex-grow: 1;
  margin: 0.2rem 0;
  border: 0;
  outline: 0;
}
div#main-container footer#main-footer section#enquiry-form form div input, div#main-container footer#main-footer section#enquiry-form form div textarea {
  padding: 0.5rem;
  background-color: lightgray;
  color: black;
}
div#main-container footer#main-footer section#enquiry-form form div input:focus, div#main-container footer#main-footer section#enquiry-form form div textarea:focus {
  background-color: #ededed;
}
div#main-container footer#main-footer section#enquiry-form form div textarea {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  height: 100%;
  color: black;
  border: 0;
  outline: 0;
}
div#main-container footer#main-footer section#enquiry-form form button {
  width: 100%;
  padding: 0.25rem;
  border: solid 0.1px rgb(30, 26, 26);
  box-shadow: inset rgb(210, 198, 198) 0px 0px 1rem;
  border-radius: 3px;
  font-variant: small-caps;
  font-weight: 900;
}
div#main-container footer#main-footer section#enquiry-form form button:hover {
  box-shadow: inset #706161 0px 0px 0.2rem;
  color: #5e6480;
}
@media screen and (min-width: 768px) {
  div#main-container footer#main-footer section#enquiry-form form {
    width: 580px;
  }
}
div#main-container section#media-links {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-shrink: 0;
}
div#main-container section#media-links div.sm-icons-container {
  display: flex;
  min-width: 160px;
  margin: auto;
}
div#main-container section#media-links div.sm-icons-container a {
  display: block;
  text-align: center;
  width: 25%;
}
div#main-container section#media-links div.sm-icons-container a img {
  width: 1rem;
  height: 1rem;
}
div#main-container section#media-links div.sm-icons-container a:hover {
  transform: scale(1.5);
}

@keyframes wave {
  0% {
    transform: rotate(100deg);
  }
  10% {
    transform: scale(2);
  }
  30% {
    transform: rotate(60deg);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes arrow-scale-up {
  100% {
    font-size: 10rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  text-decoration: none;
  color: rgb(51, 54, 69);
}

body {
  width: 100%;
  background-color: #fbfcfa;
  padding: 0 0 0.5rem 0;
  font-family: "Spline Sans Mono", monospace;
  font-size: 16px;
  font-font-optical-sizing: auto;
  font-font-weight: 300;
  letter-spacing: 0.25px;
}
body section:not(#enquiry-form, #media-links) {
  min-height: 100vh;
}

/*# sourceMappingURL=index.css.map */
