@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
div#main-container {
  min-width: 280px;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
div#main-container main#main-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
div#main-container main#main-links a.main-link {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}
div#main-container main#main-links a.main-link span {
  padding: 0.5rem;
}
div#main-container main#main-links a.main-link span:hover {
  font-size: 1.5rem;
  text-shadow: rgb(30, 26, 26) 0.5px 1px 1px;
}
div#main-container main#main-links section {
  width: 80%;
  margin: 1px auto 2rem;
  padding: 1rem;
}
div#main-container main#main-links section#about-me {
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  border-radius: 10px;
}
div#main-container main#main-links section#about-me * {
  font-size: 0.85rem;
  text-align: center;
}
div#main-container main#main-links section#about-me strong, div#main-container main#main-links section#about-me em {
  display: block;
  margin: 1rem;
  padding: 0.2rem;
  font-style: normal;
  font-weight: 600;
}
div#main-container main#main-links section#about-me strong {
  border-radius: 10px;
  box-shadow: rgb(30, 26, 26) 0px 0px 1rem;
}
div#main-container main#main-links section#about-me em {
  text-shadow: red 0px 0.15px;
}
div#main-container main#main-links section#about-me span.waving-hand {
  display: inline-block;
  animation: wave 3s;
}
div#main-container main#main-links section#about-me p {
  text-align: center;
  font-weight: 100;
}
div#main-container main#main-links section#about-me p:nth-of-type(3) {
  line-height: 1.4rem;
  font-weight: 300;
  text-shadow: red 0px 0.05px;
}
div#main-container main#main-links section#portfolio {
  width: 80%;
  margin: 1px auto 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
div#main-container main#main-links section#portfolio a {
  display: block;
  padding: 1rem;
}
div#main-container main#main-links section#portfolio a figure {
  padding-bottom: 1rem;
}
div#main-container main#main-links section#portfolio a figure img {
  width: 200px;
  padding: 1rem;
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  border-radius: 10px;
}
div#main-container main#main-links section#portfolio a figure figcaption {
  width: 200px;
  margin: auto;
  padding: 1rem;
  text-align: left;
  font-size: 0.6rem;
  font-weight: 300;
  background-color: white;
  text-shadow: red 0px 0.05px;
  border-bottom: solid rgb(30, 26, 26) 1px;
  border-radius: 0.5rem;
}
div#main-container main#main-links section#portfolio a figure figcaption:hover {
  transform: scale(1.5);
  padding: 0.5rem;
  background-color: rgb(30, 26, 26);
  border-radius: 0.5rem;
  font-size: 0.5rem;
  color: white;
}
div#main-container main#main-links section#code-examples {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 116, 49);
  position: relative;
}
div#main-container main#main-links section#code-examples *:not(span) {
  width: 200px;
  margin: auto;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector * {
  color: white;
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0.3rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag {
  display: inline-block;
  width: 3rem;
  text-align: center;
  box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
  border-radius: 0.2rem;
}
div#main-container main#main-links section#code-examples div#problem-solution-selector div#solutions-tags-container span.tag:hover {
  background-color: rgb(30, 26, 26);
}
div#main-container main#main-links section#code-examples img, div#main-container main#main-links section#code-examples audio {
  display: block;
}
div#main-container main#main-links section#code-examples img {
  margin: 1rem;
}
div#main-container main#main-links section#code-examples audio {
  height: 1rem;
}
div#main-container main#main-links section#code-examples span.construction-cone {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem;
  background-color: black;
}
div#main-container section#certification-links {
  display: flex;
  min-width: 160px;
  margin: auto;
  display: flex;
  min-width: 160px;
  margin: auto;
}
div#main-container section#certification-links a {
  display: block;
  text-align: center;
  width: 25%;
}
div#main-container section#certification-links a img {
  width: 1rem;
  height: 1rem;
}
div#main-container section#media-links {
  display: flex;
  min-width: 160px;
  margin: auto;
  flex-shrink: 0;
}
div#main-container section#media-links a {
  display: block;
  text-align: center;
  width: 25%;
}
div#main-container section#media-links a img {
  width: 1rem;
  height: 1rem;
}

@keyframes wave {
  0% {
    transform: rotate(100deg);
  }
  10% {
    transform: scale(2);
  }
  30% {
    transform: rotate(60deg);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  text-decoration: none;
  color: rgb(51, 54, 69);
}

body {
  width: 100%;
  background-color: #fbfcfa;
  padding: 1rem 0;
  font-family: "Spline Sans Mono", monospace;
  font-font-optical-sizing: auto;
  font-font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.25px;
}

/*# sourceMappingURL=index.css.map */
