// @media screen and (max-width: 575px){
    div#main-container{
        min-width:  280px;
        width: 80%;
        padding: 1rem;
        //main links
        div#main-links{
            display: flex;
            flex-direction: column;
            //links
            a.main-link{
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 1.5rem;
                //all nested span elements
                span{
                    padding: .5rem;
                    &:hover{  
                        font-size: 1.5rem;        
                        font-weight: 700;               
                        text-shadow: rgb(30, 26, 26) .5px 1px 2px;
                    }
                }   
            }
            //greetings message, initially hidden
            div#greetings{
                width: 80%;
                margin: 1px auto 2rem;
                padding: 1rem;
                box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
                strong, em{
                    display: block;
                    font-style: normal;
                }
                *{
                    font-size: .85rem;
                    text-align: center;
                }
            }
        }
        // div#certification-links{

        // }
        // div#media-links{

        // }
    }
// }