//fonts
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
//modules
@import 
    "variables/index",
    "mixins/index", 
    "partials/index"
;
//page content
*{
    box-sizing: border-box;
    //reset
    margin: 0 auto;
    padding: 0px;
    text-decoration: none;
    color: $base-text-color;
}
body{
    width: 100%;
    background-color: #fbfcfa;
    padding: 0 0 .25rem 0;
    font: {
        family: $base-typeface;
        size: $base-fontsize;
        font-optical-sizing: auto;
        font-weight: 300;
    }
    letter-spacing: .25px;
    header{
        // MAIN NAVIGATION
        nav{ 
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            //nav-menu icon
            span.icon-menu{
                position: relative;
                box-sizing: border-box;
                color: rgb(115, 4, 4);
                margin: .5rem;
                border-radius: 3px;
                font-size: 3rem;
                font-weight: 100;
                // width: 1.5rem;
                // height: 1.5rem;
                &:hover{
                    box-shadow: 0px 5px 2px 2px lightgray;
                    cursor: pointer;
                }
                @media screen and (width < 700px){
                    display: none;
                }
            }
            //nav-items
            ul{
                @media screen and (max-width: 1270px){
                    display: none; 
                }
                @media screen and (width > 1270px){
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                }
                li{
                    margin: 1rem 0;
                    @include main-nav-item(1.2, 10%, 50%);
                    @media screen and (max-width: 700px){
                        a{
                            height: 1rem;
                            // width: 7rem;
                            margin: 3rem -2.3rem 2.25rem;
                            padding-right: 0;
                            &:first-child{
                                margin-top: 2rem;
                            }
                        }
                    }
                    @media screen and (min-width: 1200px){
                        width: 12rem;
                        margin: 0;
                        padding: .5rem 1rem;
                    } 
                }
                li.item-homepage{
                    margin: -2.5rem 0 -.5rem .2rem;
                    //smaller menu items on small screen devices
                    @media screen and (max-width: 700px){
                        a{
                            margin: 4rem -6.3rem 1.75rem -.5rem;
                            padding-right: 0;
                        }
                    }
                    a{
                        display: inline-flex;
                        width: 3rem;
                        height: 1rem;
                        font-size: 80%;
                        font-variant: small-caps;
                        letter-spacing: 2px;
                        color: white;
                        text-align: center;
                        transform: rotate(90deg);
                        //smaller menu items on small screen devices
                        @media screen and (width > 700px){
                            height: 2.5rem;
                            margin: 3rem 3rem -2.75rem .25rem;
                        }
                        @media screen and (min-width: 1200px){
                            font-size: 100%;
                            color: rgb(115, 4, 4);
                            margin-left: -.3rem;
                            margin-top: 3.5rem;
                            font-variant: small-caps;
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            @media screen and (min-width: 922px) {
                span.icon-menu{
                    display: inline-block;
                    margin: 0 0 0 .5rem;
                }
            }
        }
    }
}