//fonts
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
//modules
@import 
    "variables/index",
    "mixins/index", 
    "partials/index"
;
//page content
*{
    box-sizing: border-box;
    //reset
    margin: 0 auto;
    padding: 0px;
    text-decoration: none;
    color: $base-text-color;
}
body{
    width: 100%;
    background-color: #fbfcfa;
    padding: 0 0 .25rem 0;
    font: {
        family: $base-typeface;
        size: $base-fontsize;
        font-optical-sizing: auto;
        font-weight: 300;
    }
    letter-spacing: .25px;
}