// dictionary
$netmatters-black: rgb(51, 54, 69);
$box-shadow: rgb(30, 26, 26) 0px 0px 1rem;
$bold-sans-serif: "Madimi One", sans-serif;

// Base declarations
$base-typeface: "Spline Sans Mono", monospace;
$base-text-color: $netmatters-black;
$base-fontsize: 16px;