//main-nav-item
@mixin main-nav-item($scale-factor, $dark-color-factor, $dark-color-on-hover-factor){
    &:hover{
        transform: scale($scale-factor);
    }
    a{
        color: darken(rgb(115, 4, 4), $dark-color-factor);
        font-size: 50%;
        &.menu{
            font-variant: small-caps;
            font-size: large;
        }
        &:hover{
            color: darken(rgb(115, 4, 4), $dark-color-on-hover-factor);
        }
    }
}
// main-link
@mixin section-heading{
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .5rem;
    text-align: center;
    font: {
        family: $bold-sans-serif;
        weight: 400;
        size: 2.5rem; 
    }
}
//portfolio-item-figcaption
@mixin portfolio-item-figcaption{
    max-width: 90%;
    margin: auto;
    padding: 1rem;
    text-align: left;
    font-size: .6rem;
    font-weight: 300;
    background-color: white;
    text-shadow: red 0px .05px;
    //show tooltip on xl screens
    @media screen and (min-width: 1200px){
        &:hover{
            transform: scale(1.2);
            background-color: rgb(30, 26, 26);
            border-radius: .5rem;
            color: white;
        }
    }
}
//tags
@mixin tag{
    display: inline-block;
    width: 4rem;
    padding: .25rem;
    text-align: center;
    box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
    border-radius: .2rem;
    &:hover{
        background-color: rgb(30, 26, 26);
    }
}
//construction-cone
@mixin construction-cone{
    position: absolute;
    top: 0;
    right: 0;
    padding: .1rem;
    background-color: black;
}
//Scion coalition scheme articles
@mixin scs-article{
    margin: 1rem;
    text-align: justify;  
    padding: .5rem;
    font: {
        font-weight: 300;
        size: .8rem;
    }
    p{
        &:first-letter{
            font-family: $bold-sans-serif;
            font-size: 200%;
            padding: 0;
            height: 5rem;
        }
    }
    footer{
        padding: 1rem 0;
        @include find-out-more-btn;
    } 
}
//find out more button
@mixin find-out-more-btn{
    a{
        padding: .5rem;
        display: inline-flex;
        gap: 1rem;
        border: solid .1px rgb(30, 26, 26);
        box-shadow: inset $box-shadow;
        font-weight: 700;
        span{
            flex-grow: 1;
        } 
        img{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
        }
    }
}
// social media icons
@mixin sm-icon{
    display: flex;
    min-width: 160px;
    margin: auto;
    a{
        display: block;
        text-align: center;
        width: 25%;
        img{
            width: 1rem; 
            height: 1rem;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
}