@mixin sm-icon{
    display: flex;
    min-width: 160px;
    margin: auto;
    a{
        display: block;
        text-align: center;
        width: 25%;
        img{
            width: 1rem; 
            height: 1rem;
        }
    }
}