// @media screen and (max-width: 575px){
    div#main-container{
        min-width:  280px;
        width: 80%;
        //stifky footer effect
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        //
        //main links
        div#main-links{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            //links
            a.main-link{
                display: block;
                width: 100%;
                margin-bottom: 1.5rem;
                text-align: center;
                font: {
                    family: "Madimi One", sans-serif;
                    weight: 400;
                }
                //all nested span elements
                span{
                    padding: .5rem;
                    &:hover{  
                        font-size: 1.5rem;                
                        text-shadow: rgb(30, 26, 26) .5px 1px 1px;
                    }
                }   
            }
            //about-me message, initially hidden?
            div#about-me{
                //repeat
                width: 80%;
                margin: 1px auto 2rem;
                padding: 1rem;
                // end-repeat
                box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
                border-radius: 10px;
                *{
                    font-size: .85rem;
                    text-align: center;
                }
                strong, em{
                    display: block;
                    margin: 1rem;
                    padding: .2rem;
                    font-style: normal;
                    font-weight: 600;
                }
                strong{
                    border-radius: 10px;
                    box-shadow: rgb(30, 26, 26) 0px 0px 1rem;
                }
                em{
                    text-shadow: red 0px .15px;
                }
                span.waving-hand{
                    display: inline-block;
                    animation: wave 3s;
                }
            }
            //div#portfolio
            div#portfolio{
                //repeat
                width: 80%;
                margin: 1px auto 2rem;
                // padding: 1rem;
                // background: green;
                
                // end-repeat
                display: flex;
                flex-direction: column;
                text-align: center;
                a{
                    display: block;
                    padding: 1rem;
                    img{
                        width: 200px;
                        padding: 1rem;
                        box-shadow: inset rgb(30, 26, 26) 0px 0px 1rem;
                        border-radius: 10px;
                    }
                }
            }

        }
        div#certification-links{
            padding: 2rem 0;
            // background-color: blue;
        }
        div#media-links{
            //stifky footer effect
            flex-shrink: 0;
            //
            display: flex;
            min-width: 160px;
            margin: auto;
            a{
                display: block;
                text-align: center;
                width: 25%;
                opacity: 65%;
            }
        }
    }
// }