//nav-menu icon
span.icon-menu{
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    color: rgb(115, 4, 4);
    margin: .5rem;
    border-radius: 3px;
    font-size: 3rem;
    font-weight: 100;
    background-color: white;
    transition: .2s;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}
nav{
    position: fixed;
    top: 0rem;
    left: 0;
    z-index: 100;
    ul{
        list-style-type: none;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        li{
            margin: 0;
            a{
                display: block;
                padding: 20px 10px;
                text-decoration: none;
                color: white;
                text-shadow: white 2px 2px 5px, rgb(115, 4, 4) -2px -2px 5px;
                background-color: black;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                transition: .2s;
                &:hover{
                    background-color: rgb(115, 4, 4);
                    color: white;
                    text-shadow: none;
                    font-weight: 900;
                    outline: none;
                }
                img{
                    max-width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 0rem;
                    left: 0;
                    z-index: 10;
                    @media (min-width: 576px){
                        max-width: 120px;
                        height: 120px;
                    }
                }
                width: 100%;
                font-size: 1rem;
            }
            //first li below intials icon
            &:nth-child(2){
                margin-top: 200px;
            }
            //social media links
            &:last-child{
                section{
                    padding: 0;
                   div{
                    gap: 10px;
                    a{
                        border-radius: 50%;
                        background-color: white;
                        text-shadow: none;
                        padding: 10px;
                        outline: none;
                        transition: .3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                   }
                }
            }
        }
    }
}
header{
    //BANNER
    section#banner{
        position: relative;
        z-index: 3;
        width: 100%;
        min-height: 100vh;
        background-image:url("../assets/images/go.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;  
        filter: contrast(100%);
        filter: grayscale(30%);    
        filter: hue-rotate(10deg);
        *{
            color: white;
            text-shadow: rgb(229, 54, 54) 0px 2px 3px, 
            black 0px -1px 5px;
            font-size: .75rem;
        }
        :not(big, span, em, p:first-child){
            padding: 1rem;
        }
        big{
            font-size: 1.25rem;
        }
        strong, em{
            display: block;
            font-style: normal;
            font-weight: 600;
        }
        em{
            margin: 1rem 0;
        }
        //first p in section#banner
        p:first-child{
            text-align: right;
            margin-bottom: 4rem;
            // next p
            & + p{
                margin-top: 3rem;
            }
        }
        p:not(:first-child){
            text-align: right;
            font-weight: 400;
            margin-right: -3rem;
            font-size: 1.5rem;
            padding-bottom: 3rem;
        }
        p:nth-child(2){
            padding-top: 1rem;
            margin-bottom: 0;
            & + p{
                margin-top: 2rem;
            }
        }
        div#see-my-portfolio{
            width: 70%;
            margin-top: -1rem auto;
            text-align: center;
            padding-top: 1rem;
            span:nth-of-type(1){
                margin-right: 1rem;
            }
            a{
                display: block;
                height: 12.5rem;
                span.icon-arrow-down{
                    display: block;
                    margin-top: 2rem;
                    color: rgb(115, 4, 4);
                    font-size: 7.5rem; 
                    text-shadow: black 1px 1px 5px;
                    transition: 1s;
                    &:hover{
                        color: lightgray;
                    }
                }
            }
        }
        @media screen and (min-width: 768px){
            big{
                font-size: 3rem;
            }
            *{
                font-size: 2rem;
            }
        }
    }
}
//MAIN CONTENT
section{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 10% 0px;
    margin: auto;
    &#about-me{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        @include section-heading;
        article.about-me{
            flex: 1;
            *{
                text-align: center;
            }
            strong{
                display: block;
                margin: 2rem auto;
                padding-bottom: 1rem;
                font: {
                    weight: 500;
                    size: 100%;
                }
            }
            span.waving-hand{
                display: inline-block;
                animation: wave 5s;
            }
            p{
                font-size: .8rem;
                text-align: justify;
                @media screen and (min-width: 922px){
                    text-align: center;
                }
            }
            big{
                display: block;
                font-size: .9rem;
                font-weight: 500;
                text-align: center;
                padding: 2rem;
            }
            footer{
                margin: 2rem auto 0;
                padding: .5rem;
                small{
                    font-size: .8rem;
                }
            }
            @media screen and (min-width: 768px){
                big, strong{
                    font-size: 150%;
                }
                p{
                    font-size: 100%;
                }
                footer{
                    padding-top: 3rem;
                    small{
                        font-size: 1rem;
                        color: $light-base-text;
                    }
                }
            }
        }
        article#certification-links{
            margin: 1rem auto 1rem;
            display: flex;
            flex-direction: column;
            p{
                font-size: .9rem;
            }
            a{
                display: inline-block;
                text-align: center;
                padding: .5rem;
                img{
                    width: 2rem; 
                    height: 2rem;
                }
            }
        }
    }
    &#portfolio{
        display: flex;
        flex-direction: column;
        @include section-heading;
        h2{
            margin-bottom: 3rem;
        }
        h2 + p{
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        a.clickable-tech-link{
            background-color: antiquewhite;
            padding: .2rem;
        }
        p, dt, dl{
            font-size: .8rem;
            text-align: left;
            margin-left: 0;
        }
        dl{
            padding: 1rem;
            @media screen and (width > 576px) {
                padding: 2rem;
            }
            dt{
                padding: .5rem 0;
                font-weight: 900;
            }
            p{
                border: none;
                margin: 1rem 0;
                @media screen and (width > 576px) {
                    // border-left: double 1rem rgb(115, 4, 4);
                    border-left: double 1rem lightgray;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding-left: 3rem;
                }
            }
        }
        h2{
            //make room for the navigation menu
            padding-left: 3rem;
        }
        div#portfolio-list-of-projects{
            box-sizing: border-box;
            margin: 3rem 0 0 -1.5rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                display: block;
                margin-top: 1rem;
                margin-bottom: -.25rem;
                figure{
                    padding: 0 0 1rem 0;
                    min-width: 350px;
                    img{
                        width: 70%;
                        max-width: 100%;
                        height: 150px;
                        padding: 1rem;
                        box-shadow: inset $box-shadow;
                        border-radius: 10px;
                        transition: .2s;
                        &:hover{
                            box-shadow: 1px 1px 1px 3px lightgray,
                                0px 0px 10px 3px rgb(115, 4, 4);
                            filter: contrast(125%);
                        }
                        @media screen and (width > 576px){
                            width: 90%;
                            height: 200px;
                        }
                        @media screen and (width > 700px) and (width < 922px){
                            max-width: 350px;
                        }
                    }
                    figcaption{
                        @include portfolio-item-figcaption;
                        @media screen and (width > 576px){
                            max-width: 80%;
                        }
                        @media screen and (width > 700px) and (width < 922px){
                            max-width: 350px;
                        }
                        @media screen and (width > 922px){
                            transition: .2s;
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
            }
            @media screen and (min-width: 576px){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: space-between;
                & > a{
                    width: 70%;
                }
            }
            @media screen and (min-width: 922px){
                & > a{
                    width: 30%;
                }
            }
        }
    }
    &#code-examples{
        width: 90%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 6rem;
        @include section-heading;
        h2{
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
        //everything but span
        div#code-examples-main-container{
            display: flex;
            flex-direction: column;
            & *:not(span){
                width: 100%;
            }
            & > div{
                flex-grow: 1;
            }
            div#problem-solution-selector{
                *{
                    font-size: .6rem;
                    font-weight: 400;
                }
                p{
                    padding: .75rem .5rem 0;
                    font-size: .75rem;
                    text-align: justify;
                    margin-top: -3rem;
                    margin-bottom: 2rem;
                }
                div#solutions-tags-container{
                    padding: 2rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .25rem;
                    span.tag{
                        @include tag;
                    }
                }
            }
            div#coming-soon-playlist-container{
                img, audio{
                    display: block;
                }
                img{
                    margin: 1rem auto;
                }
                audio{
                    height: 1rem;
                }
                span.construction-cone{
                    @include construction-cone;
                }
            }
            @media screen and (min-width: 992px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                column-gap: 10%;
                align-items: center;
                justify-content: space-between;
            }
        }
        
    }
    &#scion-coalition-scheme{
        display: flex;
        flex-direction: column;
        height: 100vh;
        @include section-heading;
        article{
            flex: 1;
            @include scs-article;
        }
    }
}
// FOOTER
footer#main-footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include section-heading;
    // ENQUIRY FORM
    section#enquiry-form{
        margin: 0;
        padding: 3rem 0;
        form{
            width: 80%;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            div{
                width: 100%;
                padding: 0;
                &.contact-info-detail{
                    padding: 0;
                    display: flex;
                    box-sizing: border-box;
                    label{
                        min-width: 90px;
                        width: 35%;
                        padding: .2rem;
                        color: $light-base-text;
                        align-self: center;
                        font: {
                            size: 80%;
                            weight: 500;
                        }
                    }
                    input{
                        min-width: 160px;
                        flex-grow: 1;
                        margin: .2rem 0;
                        border: 0;
                        outline: 0;
                    }
                }
                input, textarea{
                    padding: .5rem;
                    background-color: lightgray;
                    color: $dark-base-text;
                    transition: .2s;
                    &:focus{
                        background-color: lighten(lightgray, 10%);
                    }
                }
                textarea{
                    margin: 2rem 0 0 0;
                    min-width: 250px;
                    width: 100%;
                    min-height: 10rem;
                    max-height: 10rem;
                    height: 100%;
                    color: black;
                    border: 0;
                    outline: 0;
                }
            }
            button{
                margin-top: 3rem;
                width: 100%;
                padding: .5rem;
                border: none;
                box-shadow: inset $box-shadow;
                border-radius: 3px;
                transition: .2s;
                font: {
                    variant: small-caps;
                    size: 1.25rem;
                    weight: 600;
                }
                &:hover{
                    background-color: darken(lightgray, .1%);
                }
            }
            @media screen and (min-width: 768px){
                width: 610px;
                input{
                    width: 80%;
                }
            }
        }
    }
}
section#enquiry-form, button{
    min-width: 250px;
    flex: 1;
}
//SM LINKS
section#media-links{
    margin: 0 auto 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    div.sm-icons-container{
        @include sm-icon;
    }
}