header{
    //MAIN NAVIGATION
    display: flex;
    flex-direction: column;
    gap: .1rem;
    position: fixed;
    top: .3rem;
    left: .3rem;
    z-index: 5;
    //nav-items
    a{
        @include main-nav-item;
    }
    @media screen and (min-width: 1200px) {
        height: 100vh;
        background: black;
    }
}
// MAIN CONTENT
div#main-container{
    min-width:  280px;
    width: 80%;
    //sticky footer effect
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    //
    main#main-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        h2{  
            @include section-heading;
        }
        section.hero-section{
            min-height: 70vh;
            h2{  
                @include section-heading;
            }
        }
        section{
            width: 100%;
            margin: 1px auto 2rem;
            padding: 1rem;
            //about-me
            &#about-me{
                // leave main heading big
                :not(h2){
                    font-size: .85rem;
                    text-align: center;
                }
                strong, em{
                    display: block;
                    padding: .2rem;
                    font-style: normal;
                    font-weight: 600;
                }
                strong{
                    display: block;
                    border-radius: 10px;
                    box-shadow: $box-shadow;
                    padding: 3rem;
                    max-width: 400px;
                    margin: 4rem auto;
                }
                em{
                    text-shadow: red 0px .15px;
                    margin: 1rem;
                }
                span.waving-hand{
                    display: inline-block;
                    animation: wave 3s;
                }
                p{
                    text-align: center;
                    font-weight: 100;
                    &:nth-of-type(3){
                        line-height: 1.4rem;
                        font-weight: 300;
                        text-shadow: red 0px .05px;
                        margin-bottom: 4rem;
                    }
                }
                article#certification-links{
                    margin: 5rem auto 1rem;
                    display: flex;
                    flex-direction: column;
                    // @include sm-icon;??
                    p{
                        font-size: 50%;
                    }
                    a{
                        display: inline-block;
                        text-align: center;
                        padding: .5rem;
                        img{
                            width: 1rem; 
                            height: 1rem;
                        }
                    }
                }
            }
            //portfolio
            &#portfolio{
                margin: 1px auto 4rem;
                // end-repeat
                display: flex;
                flex-direction: column;
                text-align: center;
                a{
                    display: block;
                    padding: 1rem;
                    margin-bottom: -.25rem;
                    figure{
                        padding-bottom: 1rem;
                        img{
                            width: 200px;
                            height: 100px;
                            padding: 1rem;
                            box-shadow: inset $box-shadow;
                            border-radius: 10px;
                        }
                        figcaption{
                            @include portfolio-item-figcaption;
                        }
                    }
                }
                @media screen and (min-width: 576px){
                    div{
                        display: flex;
                        flex-direction: wrap;
                        flex-wrap: wrap;
                        column-gap: 10%;
                        row-gap: 2rem;
                        box-sizing: border-box;
                        & > a{
                            width: 45%;
                        }
                    }
                }
            }
            //code-examples
            &#code-examples{
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                // construction orange
                background-color: rgb(248, 116, 49);
                position: relative;
                margin-bottom: 6rem;
                z-index: 0;
                //everything but span
                & *:not(span){
                    width: 200px;
                    margin: auto;
                }
                div#problem-solution-selector{
                    *{
                        color: white;
                        font-size: .6rem;
                        font-weight: 400;
                        padding: .3rem;
                    }
                    div#solutions-tags-container{
                        display: flex;
                        flex-wrap: wrap;
                        gap: .25rem;
                        span.tag{
                            @include tag;
                        }
                    }
                }
                div#coming-soon-playlist-container{
                    img, audio{
                        display: block;
                    }
                    img{
                        margin: 1rem auto;
                    }
                    audio{
                        height: 1rem;
                    }
                    span.construction-cone{
                        @include construction-cone;
                    }
                }
                @media screen and (min-width: 576px){
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 2%;
                    box-sizing: border-box;
                    padding: 2rem auto;
                    padding: 1rem;
                    & > div{
                        width: 45%;
                        p{
                            width: 80%;
                        }
                    }
                }
            }
            // Scion Coalition Scheme
            &#scion-coalition-scheme{
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;
                h2{  
                    @include section-heading;
                    margin-bottom: -1rem;
                }
                article{
                    @include scs-article;
                }
            }
        }
    }
    // FOOTER
    footer#main-footer{
        h2{  
            @include section-heading;
            margin-bottom: -1rem;
        }
        // ENQUIRY FORM
        section#enquiry-form{
            margin: 3rem 0;
            form{
                width: 290px;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                div{
                    // background-color: green;
                    width: 100%;
                    padding: 0;
                    &.contact-info-detail{
                        padding: 0;
                        display: flex;
                        box-sizing: border-box;
                        label{
                            width: 35%;
                            padding: .2rem;
                            color: $light-base-text;
                            align-self: center;
                            font: {
                                size: 80%;
                                weight: 500;
                            }
                        }
                        input{
                            flex-grow: 1;
                            margin: .2rem 0;
                            border: 0;
                            outline: 0;
                        }
                    }
                    input, textarea{
                        padding: .25rem;
                        background-color: lightgray;
                        color: $dark-base-text;
                    }
                    textarea{
                        margin: 0;
                        max-width: 100%;
                        min-height: 10rem;
                        height: 100%;
                        color: black;
                        border: 0;
                        outline: 0;
                    }
                }
                button{
                    width: 100%;
                    padding: .25rem;
                    border: solid .1px rgb(30, 26, 26);
                    box-shadow: inset $box-shadow;
                    border-radius: 3px;
                    font: {
                        variant: small-caps;
                        weight: 900;
                    }
                    &:hover{
                        box-shadow: inset lighten(rgb(30, 26, 26), 30%) 0px 0px .2rem;
                        color: $light-base-text;
                    }
                }
            }
        }
    }
    //SM LINKS
    section#media-links{
        margin: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        div.sm-icons-container{
            @include sm-icon;
        }
        //stifky footer effect
        flex-shrink: 0;
    }
}