header{
    //BANNER
    section#banner{
        position: relative;
        width: 100%;
        background-image:url("https://wallpapercave.com/wp/wp6397655.jpg");
        background-size: cover;
        background-position: right;
        *{
            color: white;
            font-size: .85rem;
        }
        :not(big, span, em){
            padding: 1rem;
        }
        strong, em{
            display: block;
            font-style: normal;
            font-weight: 600;
        }
        em{
            text-shadow: red 0px .15px;
            margin: 1rem 0;
        }
        p{
            text-align: right;
            font-weight: 400;
            text-shadow: black 1px 1px 5px;
        }
        div#see-my-portfolio{
            display: flex;
            flex-direction: column;
            float: right;
            margin-right: -1rem;
            span:nth-of-type(1){
                margin-right: 1rem;
            }
            span.icon-arrow-down{
                display: inline-block;
                margin-top: 1rem;
                color: rgb(229, 54, 54);
                font-size: 7.5rem; 
                text-shadow: black 1px 1px 5px;
            }
            @media screen and (min-width: 768px){
                float: left;
                margin-left: 2.5%;
                span{
                    font-size: 1.5rem;
                    font-variant: small-caps;
                    font-weight: 900;
                    text-shadow: black 1px 1px;
                    &.icon-arrow-down{
                        font-size: 10rem;
                    }
                }
            }
            @media screen and (min-width: 850px){
                margin-left: 15%;
            }
            @media screen and (min-width: 1200px) {
                margin-left: 20%;
                span{
                    font-size: 2.5rem;
                    font-variant: normal;
                    &.icon-arrow-down{
                        font-size: 12rem;
                        color: rgb(115, 4, 4);
                    }
                }
            }
        }
    }
}
// MAIN
div#main-container{
    min-width:  280px;
    width: 80%;
    //sticky footer effect
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // MAIN NAVIGATION
    nav{
        position: fixed;//to be changed to sticky with JS!!
        top: 0;
        left: 0;
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .1rem;
            z-index: 5;
            padding-left: .3rem;
            //nav-items
            li{
                padding-top: .2rem;
                @include main-nav-item(1.2, 10%, 50%);
            }
            @media screen and (min-width: 1200px) {
                width: 130px;
                height: 100vh;
                background: darken(rgb(115, 4, 4), 10%);
                li{
                    &:hover{
                        transform: scale(1.5);
                    }
                    a:not(.menu){
                        color: lighten(rgb(115, 4, 4), 80%);
                        &:hover{
                            color: darken(rgb(115, 4, 4), 50%);
                        }
                    }
                }
            }
        }
    }
    //MAIN CONTENT
    main#main-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        h2{  
            @include section-heading;
        }
        section.hero-section{
            min-height: 70vh;
            h2{  
                @include section-heading;
            }
        }
        section{
            width: 100%;
            margin: 1px auto 2rem;
            padding: 1rem;
            //about-me
            &#about-me{
                article.about-me{
                    *{
                        text-align: center;
                    }
                    strong{
                        display: block;
                        padding-bottom: 1rem;
                        font: {
                            weight: 500;
                            size: 100%;
                        }
                    }
                    span.waving-hand{
                        display: inline-block;
                        animation: wave 3s;
                    }
                    p{
                        font-size: .8rem;
                        text-align: justify;
                        @media screen and (min-width: 922px){
                            text-align: center;
                        }
                    }
                    big{
                        display: block;
                        font-size: .9rem;
                        font-weight: 500;
                        text-align: center;
                        padding: 1rem;
                    }
                    footer{
                        margin: 2rem;
                        padding: .5rem;
                        small{
                            font-size: .6rem;
                        }
                    }
                }
                article#certification-links{
                    margin: 5rem auto 1rem;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 50%;
                    }
                    a{
                        display: inline-block;
                        text-align: center;
                        padding: .5rem;
                        img{
                            width: 1rem; 
                            height: 1rem;
                        }
                    }
                }
            }
            //portfolio
            &#portfolio{
                margin: 1px auto 4rem;
                p, dt, dl{
                    font-size: .8rem;
                }
                dl{
                    dt{
                        padding: .5rem 0;
                        font-weight: 900;
                    }
                    p{
                        border-left: double 1rem lightgray;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        margin: 1rem 0;
                        padding-left: 1rem;
                    }
                }
                div#portfolio-list-of-projects{
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    a{
                        display: block;
                        padding: 1rem;
                        margin-bottom: -.25rem;
                        figure{
                            padding-bottom: 1rem;
                            img{
                                width: 90%;
                                max-width: 250px;
                                height: 100px;
                                padding: 1rem;
                                box-shadow: inset $box-shadow;
                                border-radius: 10px;
                            }
                            figcaption{
                                @include portfolio-item-figcaption;
                            }
                        }
                    }
                    @media screen and (min-width: 576px){
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        row-gap: 2rem;
                        box-sizing: border-box;
                        & > a{
                            width: 50%;
                        }
                    }
                    @media screen and (min-width: 922px){
                        & > a{
                            width: 30%;
                        }
                    }
                }
            }
            //code-examples
            &#code-examples{
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                // construction orange
                background-color: rgb(248, 116, 49);
                position: relative;
                margin-bottom: 6rem;
                z-index: 0;
                //everything but span
                & *:not(span){
                    width: 200px;
                }
                div#problem-solution-selector{
                    *{
                        color: white;
                        font-size: .6rem;
                        font-weight: 400;
                    }
                    p{
                        padding: 1.5rem 0;
                        font-size: .75rem;
                        text-align: justify;
                    }
                    div#solutions-tags-container{
                        padding: 1rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        gap: .25rem;
                        span.tag{
                            @include tag;
                        }
                    }
                }
                div#coming-soon-playlist-container{
                    img, audio{
                        display: block;
                    }
                    img{
                        margin: 1rem auto;
                    }
                    audio{
                        height: 1rem;
                    }
                    span.construction-cone{
                        @include construction-cone;
                    }
                }
                @media screen and (min-width: 768px){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 5%;
                    align-items: center;
                }
            }
            // Scion Coalition Scheme
            &#scion-coalition-scheme{
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;
                h2{  
                    @include section-heading;
                    margin-bottom: -1rem;
                }
                article{
                    @include scs-article;
                }
            }
        }
    }
    // FOOTER
    footer#main-footer{
        h2{  
            @include section-heading;
            margin-bottom: -1rem;
        }
        // ENQUIRY FORM
        section#enquiry-form{
            margin: 3rem 0;
            form{
                width: 290px;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                div{
                    // background-color: green;
                    width: 100%;
                    padding: 0;
                    &.contact-info-detail{
                        padding: 0;
                        display: flex;
                        box-sizing: border-box;
                        label{
                            width: 35%;
                            padding: .2rem;
                            color: $light-base-text;
                            align-self: center;
                            font: {
                                size: 80%;
                                weight: 500;
                            }
                        }
                        input{
                            flex-grow: 1;
                            margin: .2rem 0;
                            border: 0;
                            outline: 0;
                        }
                    }
                    input, textarea{
                        padding: .5rem;
                        background-color: lightgray;
                        color: $dark-base-text;
                    }
                    textarea{
                        margin: 0;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 10rem;
                        max-height: 10rem;
                        height: 100%;
                        color: black;
                        border: 0;
                        outline: 0;
                    }
                }
                button{
                    width: 100%;
                    padding: .25rem;
                    border: solid .1px rgb(30, 26, 26);
                    box-shadow: inset $box-shadow;
                    border-radius: 3px;
                    font: {
                        variant: small-caps;
                        weight: 900;
                    }
                    &:hover{
                        box-shadow: inset lighten(rgb(30, 26, 26), 30%) 0px 0px .2rem;
                        color: $light-base-text;
                    }
                }
            }
        }
    }
    //SM LINKS
    section#media-links{
        margin: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        div.sm-icons-container{
            @include sm-icon;
        }
        //stifky footer effect
        flex-shrink: 0;
    }
}